/* styles*/

.title {
    color:blue;
    background-color: grey;
    padding: 8px;
    border: 8px;
    margin:10px;
}

.points {
    color:brown;
    padding: 8px;
    border: 8px;
    margin:10px;
}